<!DOCTYPE html>
<html>
<head>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <title>单字校对-{{txt}}</title>
  <link href="{{static_url('css/label_char.css')}}" rel="stylesheet"/>
</head>

<body>
<div class="app-main">
  <div class="main">

    <div class="panel panel-default">
      <div class="panel-heading row">
        <div class="col-sm-9">
          <ol class="breadcrumb">
            <li><a href="/">{{site['name']}}</a></li>
            <li><a href="/char/proof">单字校对</a></li>
            <li class="active">{{txt}}</li>
            <button class="btn btn-default waves-effect" style="margin-left: 15px" id="pass-all">本页已校</button>
            <span>{{todo_count}} 个未校</span>
          </ol>
        </div>

        <div class="col-sm-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="输入单字" id="search-box">
            <span class="input-group-btn">
              <button class="btn btn-default waves-effect" type="button" id="search">进入</button>
              <a href="/api/user/login?next={{full_url}}" class="btn btn-default waves-effect" title="登录到大藏经数字化平台">
                {% if currentUserId %}{{current_user['name']}}{% else %}登录{% end %}
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="grid">
          {% for i, c in enumerate(chars) %}
          <div class="grid-item {{'review' if c.get('review_by') else ''}}" id="{{c['_id']}}" data-result="{{c.get('result', '')}}">
            <div class="result_icon">
              {% for k, v in status_icons.items() %}
              <i class="glyphicon glyphicon-{{v[0]}} status-{{k}}" title="{{v[1]}}"></i>
              {% end %}
              <i class="glyphicon glyphicon-lock status-review" title="已审定"></i>
            </div>
            <img width="{{img_size[0]}}" height="{{img_size[1]}}" src="{{get_char_img(c)}}">
            <p title="{{i + 1}}. {{c['page']}} #{{c['cid']}}">{{c['cc']}} {{c['page'][:2]}}</p>
          </div>
          {% end %}
        </div>
      </div>

    </div>
    {% module Pager(pager) %}

  </div>
</div>

{% include _label_char.html %}

</body>
</html>
