<!DOCTYPE html>
<html>
<head>
  {% include _base_meta.html %}
  {% include _base_css.html %}
  <title>单字审核-{{txt}}</title>
  <link href="{{static_url('css/label_char.css')}}" rel="stylesheet"/>
  <style>
    .grid-item > img {
      opacity: .7;
    }
  </style>
</head>

<body>
<div class="app-main">
  <div class="main">

    <div class="panel panel-default">
      <div class="panel-heading row">
        <div class="col-sm-9">
          <ol class="breadcrumb">
            <li><a href="/">{{site['name']}}</a></li>
            <li><a href="/char/review">单字审核</a></li>
            <li class="active">{{txt}}</li>

            <div class="btn-group result-filter" role="group" style="margin-left: 15px">
              {% for s, t in [('same', '一致'), ('changed', '已改'), ('doubt', '存疑'), ('invalid', '无效')] %}
              <a href="/char/review/{{txt}}?r={{s}}" type="button"
                 class="btn btn-default waves-effect {{'active' if s==r_type else ''}}">{{t}}</a>
              {% end %}
            </div>
            <button class="btn btn-default waves-effect" id="pass-all">本页已审</button>
            <span>{{todo_count}} 个未审</span>
          </ol>
        </div>

      </div>
      <div class="panel-body">
        {% module LabelGrid(chars, status_icons, get_char_img, title_field='txt') %}
      </div>

    </div>
    {% module Pager(pager) %}

  </div>
</div>

{% include _label_char.html %}
<script>
  saveUrl = '/label/char/review/';
</script>

</body>
</html>
