:root {
  --Color_333: #333333;
  --Color_White: #fff;
  --Color_Black: #000;
  --Color_Brown: #eab977;
  --Color_Brown_Dark: #cb9b66;
  --Color_Brown_Darker: #b68856;
  --Color_Brown_Line: #9b744b;
  --Color_Grey: #9e9e9e;
  --Color_Grey_Light: #cfcfcf;
  --Color_Grey_Lighter: #fafafa;
  --Color_Grey_Middle: #b7b7b6;
  --Color_Grey_Dark: #6a6a77;
  --Color_Grey_Line: #ebebeb;
  --Color_Grey_Content: #f2f5fa;
  --Color_Grey_Content1: #f1f3f4;
  --Color_Grey_Content2: #fafafa;

}

body, html {
  height: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td, span {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei, SimSun, sans-serif, Helvetica Neue, Helvetica;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input, textarea {
  outline: none
}

/*清除浮动*/
.clearfix:after {
  content: '.';
  display: block;
  width: 0;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*清除浮动*/
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

em {
  font-style: normal;
}

a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.app-main {
  width: 100%;
  height: 100%;
}

body {
  background: url(../imgs/fbg.png) repeat;
}

a {
  color: var(--Color_333);
}

a:hover {
  color: var(--Color_333);
}

/*左边菜单*/

.sidebar-menu-con {
  width: 200px;
  height: 100%;
  background: var(--Color_Brown_Dark);
  position: fixed;
  color: var(--Color_333);
  z-index: 2;
}

.sidebar-menu-con #cbeta {
  padding-left: 0;
}

.sidebar-menu-con #tripitaka-rs {
  padding-left: 0;
}

.slimScrollDiv > * {
  overflow: hidden;
}

.menu-item a, .menu-item a:hover {
  color: var(--Color_333);
}

.main {
  float: left;
  width: 100%;
  height: 100%;
}

.main .logo-con {
  height: 56px;
  text-align: center;
  background-color: var(--Color_Grey_Light);
}

.logo-con img {
  width: 160px;
  margin-top: 8px;

}

.logo-con .mini {
  width: 36px;
  height: 36px;
  display: none;
}

.main .menu {
  padding: 30px 0 30px 17px;
  position: relative;
  font-size: 15px;
}

.main .menu > li {
  line-height: 36px;
  color: var(--Color_333);
  margin-right: 12px;
  width: 100%;
}

.main .menu > li.menu-item {
  border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
  margin-right: 12px;
  width: 100%;
}

.main .menu .menu-title, .main .menu .leaf {
  display: block;
}

.main .menu .menu-title:hover {
  background: var(--Color_Brown);
}

.main .menu .active {
  background-color: var(--Color_Brown);
}

.main .menu .submenu-title {
  border-bottom: 1px dashed rgba(228, 195, 168, 0.26);
  padding-left: 5px;
}

.main .menu .submenu-title:hover {
  cursor: pointer;
  background: var(--Color_Brown);
}

.main .menu .sub-ul li {
  margin-left: 18px;
}

.main .menu .sub-ul li:hover {
  background-color: var(--Color_Brown);
}

.main .menu .sub-ul li .sub-img {
  margin-top: 13px;
}

.main .menu .sub-ul .sub-active {
  background: var(--Color_Brown);
}

.main .main-content {
  background: #f4f4f4 url(../imgs/bg.png) no-repeat !important;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.main-header-con {
  height: 56px;
  line-height: 56px;
  background: transparent;
  padding-left: 200px;
}

.main-header-left {
  padding-left: 10px;
}

.main-header-left .title span:first-child {
  margin-right: 12px;
}

.main-header-left .title span:first-child img {
  margin-top: 18px;
}

.main-header-left .title span:last-child img {
  margin-top: 10px;
}

.main-header-left .line {
  width: 248px;
  height: 1px;
  background: #000;
}

.ivu-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header-right {
  padding-right: 17px;
}

.main-header-right .welcome {
  color: #232323;
  font-size: 14px;
  margin-right: 33px;
}

.main-header-right span img {
  margin: 20px 10px 0;
}

.main .single-page-con {
  background: none;
  z-index: 1;
  transition: left .3s;
  margin-left: 200px;
  height: calc(100% - 56px);
}

.layout {
  height: 100%;
}

.layout-content {
  height: 100%;
  min-height: 200px;
  padding: 5px;
}

.sub-ul-hidden {
  display: none;
}

.wrapper {
  margin: 10px;
}

.pagers {
  margin: 20px 0 0;
  text-align: center;
}

.pagers img {
  margin-top: -12px;
  width: 150px;
  height: 46px;
  display: inline-block;
}

.pagers span {
  font-size: 14px;
  color: #333;
  margin-right: 30px;
  margin-left: 30px;
}

.pagers span em {
  color: #f56558;
}

.pagers ul {
  display: inline-block;
  /*父元素的font-size设为0，消除display:inline-block产生的默认间隙*/
  font-size: 0;
  margin-bottom: 0;
  /*margin-right: 30px;*/
}

.pagers ul li {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  background: #fff;
  color: #4e4e4e;
  font-size: 14px;
  border: 1px solid #d3dae7;
  margin-right: -1px;
}

.pagers ul li input {
  height: 26px;
  width: 45px;
  padding: 0 3px;
  border: 0 none;
  border: 1px solid #ccc;
}


.pagers li.active a {
  background: #b8906f;
  color: #FFFFFF;
}

.pagers li a {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  color: #4e4e4e;
  padding: 0 20px;
}

.pagers li a:hover {
  color: #000000;
}

.pagers ul li:last-child {
  padding: 0 10px;
}

.sub-ul-hidden {
  display: none;
}

.collate-list {
  margin-top: 20px;
}

.collate-list .count span {
  position: relative;
  font-size: 24px;
  display: inline-block;
  line-height: 23px;
  margin-right: 80px;
}

.collate-list .count span em {
  margin: 0 15px;
}

.collate-list .count span:first-child em {
  color: #000;
}

.collate-list .count span:last-child em {
  color: #6b6b6b;
}

.collate-list .count span img {
  vertical-align: bottom;
}

.collate-list .search {
  position: relative;
  top: -20px;
}

.collate-list .search input {
  display: inline-block;
  border: 0 none;
  border-bottom: 1px solid #cca78a;
  background: none;
  width: 305px;
  height: 28px;
  padding-left: 20px;
}

.collate-list .search i {
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../imgs/search-icon.png) no-repeat;
  width: 15px;
  height: 17px;
}

.collate-list table {
  margin-top: 30px;
  width: 99.99%;
  text-align: left;
}

.collate-list table th {
  font-weight: normal;
  font-size: 14px;
  /*padding-bottom: 17px;*/
  font-weight: 600;
}

.collate-list table th:first-child {
  text-align: center;
}

.collate-list table th:last-child {
  text-align: center;
}

.collate-list table tbody tr {
  background: rgba(255, 255, 255, 0.85);
  height: 44px;
  border: 1px solid #ebebeb;
}

.collate-list table tbody tr td {
  font-size: 14px;
  color: #13171c;
}

.collate-list table tbody tr td:first-child {
  text-align: center;
}

.collate-list table tbody tr td:last-child {
  text-align: center;
}

.collate-list table tbody tr td span {
  display: inline-block;
  width: 70px;
  height: 32px;
  background: #b8906f;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.collate-list table tr td.status_none {
  color: #999;
}

.collate-list table tr td.status_pending {
  color: #666;
}

.collate-list table tr td.status_ended {
  color: #0f0;
}

.collate-list table tr td.status_opened {
  color: #007;
}

.collate-list .operation span {
  display: block;
  float: left;
  /*width: 70px;*/
  height: 32px;
  padding: 0 20px;
  background: #b8906f;
  border-radius: 3px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.collate-list .sty-table td.datetime {
  font-size: 12px;
  width: 100px;
}

.collate-list .bat-upload span {
  width: 150px;
}

.collate-list .btn-toolbar {
  position: absolute;
  left: 0;
  margin-top: -20px;
}

.collate-list .table-responsive {
  margin-top: 0;
  top: 10px;
}

.collate-list table.table {
  margin-top: 0;
}

.sort {
  cursor: pointer;
}

.sty-table th {
  text-align: center;
}

.sty-table td {
  text-align: center;
}

.sty-table td a {
  font-size: 12px;
  margin-right: 10px;
  color: #B8906F;
  cursor: pointer;
}

.sty-table td a:hover {
  color: #b33c2b;
}

.modal-body .progress-lg {
  margin-top: 20px;
}

.single-page-con .panel-body {
  padding: 0;
}

.preview-img {
  width: 60%;
  float: left;
  /*overflow: scroll;*/
}

.preview-img img {
  width: 100%;
}

.preview-text {
  float: left;
  width: 40%;
  padding: 20px;
}

.modal-footer .pagers {
  margin: 20px 0;
}

.ion-arrow-down-b:before {
  transition: all 0.3s ease-in-out;
}

.sort.active {
  color: #317EEB;
}

.ion-arrow-down-b.toggle:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
  color: #317EEB;
}

.btn-toolbar {
  margin-bottom: 0;
  float: right;
}

.btn-toolbar .dropdown-toggle.btn-primary {
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 0;
}

.table-wrapper {
  position: relative;
}

.single-page-con.enlarge {
  margin-left: 0;
}

.main-header-con.enlarge {
  padding-left: 0;
}

.sidebar-menu-con.collapse {
  width: 0;
}

.ajax-error {
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  background-color: #fcf8e3;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  height: auto;
  line-height: 20px;
}

.m-header {
  background: var(--Color_Grey_Light);
  height: 40px;
  position: fixed;
  z-index: 1000;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  right: 0;
  left: 0;
}

.m-header .right {
  float: right;
  margin-right: 10px;
}

.m-header .tips {
  color: var(--Color_Brown_Darker);
  font-size: 14px;
  margin: 9px 6px;
}

.m-header .back {
  margin-left: 12px;
}

.m-header div {
  float: left;
}

.m-header .help img {
  margin-right: 20px;
  margin-top: 8px;
  width: 18px;
  height: 18px;
}

.m-header .title {
  font-size: 20px;
  font-weight: 500;
  margin: 4px 0 0 10px;
  color: var(--Color_333);
}

.m-header .sub-title {
  font-size: 0.8em;
  display: inline-block;
  float: initial;
  font-weight: 400;
}

.m-header .m-pager {
  margin-top: 8px;
}

.m-header .btn-group {
}

.m-header .btn-img {
  width: 20px;
  height: 20px;
  margin: 10px 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.m-header .btn-img:hover {
  transform: scale(1.2);
}

.m-header .image {
  margin-left: 40px;
}

.m-header .btn-txt {
  font-weight: 400;
  line-height: 40px;
  margin: 0 4px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  color: var(--Color_Brown_Darker);
  transition: all 0.2s;
  cursor: pointer;
  float: none;
}

.m-header .btn-txt:hover {
  transform: scale(1.2);
}

.m-header button {
  margin-top: 4px;
}

.m-header .btn-gap {
  width: 0;
  height: 36px;
  padding: 1px 1px 0 0;
  background-color: var(--Color_Brown_Dark);
  margin: 1px 1px;
  float: initial;
}

.m-header .font {
  font-size: 18px;
  margin-top: 3px;
  margin-left: 20px;
  margin-right: 10px;
}

.m-header .font div {
  padding: 3px 5px;
  color: var(--Color_Brown_Darker);
  font-weight: 500;
}

.m-header .font-reduce {
  border: 0 solid var(--Color_Brown_Darker);
  border-radius: 15px 0 0 15px;
  cursor: pointer;
}

.m-header .font-current {
  border-top: 0 solid var(--Color_Brown_Darker);
  border-bottom: 0 solid var(--Color_Brown_Darker);
  width: 24px;
}

.m-header .font-enlarge {
  border: 0 solid var(--Color_Brown_Darker);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.m-header .font-reduce > a, .font-enlarge > a {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.m-header .btn-empty-place {
  width: 0;
  padding: 0 4px;
  font-size: 20px;
  line-height: 20px;
  background-color: #b68856;
  margin: 10px 4px;
}

.flex-content {
  width: 100%;
  display: flex;
}

.full-bd {
  padding-top: 45px;
}

/* 数据管理 */
.btn-delete, .btn-update, .btn-add, .btn-upload {
  cursor: pointer;
}

a.download-template {
  color: #fff;
}

.modal .uploading {
  font-size: 1.1em;
}

.modal .uploaded .title {
  font-size: 1.1em;
}

.modal .uploaded .message {
  margin: 10px 0;
}

.modal .uploaded .errors {
  max-height: 150px;
  overflow-y: auto;
}

.modal .uploaded .errors label {
  font-weight: normal;
  margin-right: 10px;
  min-width: 90px;
}

.modal .tick {
  word-wrap: break-word;
}

.sweet-alert .tips li {
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.sweet-alert .tips li span {
  flex: 1;
  display: inline-block;
  text-align: left;
}

.sweet-alert .tips li span.head {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}

#helpModal .modal-dialog {
  width: 680px;
}

#helpModal .modal-title {
  font-size: 1.1em;
}

#helpModal a.more-help {
  color: var(--Color_Brown_Dark);
  margin-left: 10px;
  text-decoration: underline;
  font-size: 12px;
}

#helpModal .title {
  font-size: 1.1em;
  font-weight: 400;
  margin: 10px 0;
}

#helpModal img {
  width: 20px;
}

#helpModal table tr > td:first-child {
  width: 120px;
  color: var(--Color_Brown_Darker);
}

#helpModal .btn-empty-place {
  margin: 0;
  padding: 5px 0;
  font-size: 6px;
  height: 20px;
  background-color: #b68856;
}

#helpModal .intro {
  display: block;
  margin-left: 8px;
  color: #797979;
  margin-bottom: 5px;
  list-style-type: initial;
  line-height: 24px;
}


#helpModal .intro a {
  color: var(--Color_Brown_Dark);
  text-decoration: underline;
}

